body {
    text-indent: auto;
    color: white;
    background-color: rgb(1, 42, 95);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.secao {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    max-width: 85%;
    background-image:linear-gradient( rgba(0, 0, 0, 0.822), rgba(128, 128, 128, 0.849));
    border-radius: 15px;
    padding: 1rem;
    box-shadow: 2px 2px rgba(255, 255, 255, 0.267);
}


.Inputs {
    
    & h1 {
        padding: 1rem 0px;
        text-shadow: 2px 2px rgba(255, 255, 255, 0.514);
        font-size: 2rem;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
    & h2 {
        margin-left: 1rem;
        margin-top: 2rem;
    }

    & input {
        border: none;
        outline: none;
        width: 10rem;
        height: 1.5rem;
        margin-top: 1.5rem;
        margin-left: 1rem;
        border: 2px solid gray;
        border-radius: 10px;
    }

    & p>button {
        border: none;
        width: 6rem;
        height: 2rem;
        margin-top: 0.8rem;
        margin-left: 1rem;
        border: 2px solid rgba(128, 128, 128, 0.452);
        border-radius: 15px;
    }

    & p>button:hover {
        background-color: rgba(207, 207, 207, 0.582);
        cursor: pointer;
    }
}

.Info {
    p {
        text-transform: uppercase;
        margin-left: 1rem;
        margin-top: 1rem;
        padding-bottom: 2px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.39);
        width: 16rem;

    }
}

@media screen and (min-width:644px){
    .secao {
        flex-direction: row;
    }
}