body {
    background-color: rgb(236, 236, 236);
    text-indent: auto;
}

header {
    background-color: rgba(160, 158, 158, 0.733);
    border-bottom: 1px solid rgba(0, 0, 0, 0.185);

    & h1 {
        margin-left: 2.7rem;
        padding: 1rem 0px;
        text-shadow: 2px 2px rgba(255, 255, 255, 0.514);
        font-size: 2rem;
        font-family: Arial, Helvetica, sans-serif;
    }
}

.Inputs {

    & h2 {
        margin-left: 3rem;
        margin-top: 2rem;
    }

    & input {
        border: none;
        outline: none;
        width: 10rem;
        height: 1.5rem;
        margin-top: 1.5rem;
        margin-left: 3rem;
        border: 2px solid gray;
        border-radius: 10px;
    }

    & p>button {
        border: none;
        width: 6rem;
        height: 2rem;
        margin-top: 0.8rem;
        margin-left: 3rem;
        border: 2px solid rgba(128, 128, 128, 0.452);
        border-radius: 15px;
    }

    & p>button:hover {
        background-color: rgba(207, 207, 207, 0.582);
        cursor: pointer;
    }
}

.Info {
    p {
        text-transform: uppercase;
        margin-left: 3rem;
        margin-top: 1rem;
        padding-bottom: 2px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.39);
        width: 16rem;

    }
}