@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:wght@100..900&display=swap');

body {
    text-indent: auto;
    color: white;
    background-image: url(../public/image/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}


.secao::before {
    content: "";
    inset: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: blur(1px);
    background-image: linear-gradient(45deg, rgba(80, 81, 155, 0.4), rgba(73, 88, 136, 0.5), rgba(80, 81, 155, 0.4));
    position: absolute;
    z-index: -1;
}

.secao {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 1rem 2rem;
    border-radius: 5px;
    background-image: linear-gradient(45deg,
            rgba(255, 255, 255, 0.05),
            rgba(255, 255, 255, 0.1),
            rgba(255, 255, 255, 0.05));
    gap: 1rem;

}


.input_wrapper {
    display: flex;
    gap: 1rem;
    width: 100%;
    flex-grow: 1;
}

.input_wrapper>* {
    height: 2rem;
}

.Inputs {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;

    & h1 {
        font-size: 2rem;
        font-family: "Roboto Slab", serif;
        font-weight: 400;
        text-align: center;
    }

    & h2 {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
    }

    & input {
        border: none;
        outline: none;
        flex-grow: 1;
        background-color: transparent;
        border-bottom: 2px solid rgb(67, 82, 110);
        color: white;
    }

    & p>button {
        border: none;
        background-color: rgb(67, 82, 110);
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 1rem;
        color: white;
        cursor: pointer;
    }

}

.Info {
    p {
        text-transform: uppercase;
        border-bottom: 1px solid rgba(0, 0, 0, 0.39);
        width: 16rem;
        color: rgb(225, 218, 255);
        font-family: "Roboto", sans-serif;

    }


    & strong {
        color: rgb(255, 255, 255);
        font-style: italic;
    }
}

@media screen and (min-width:644px) {


    .secao {
        flex-direction: row;
    }
}